:root {
    font: 18px 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: blue;
    margin-top: 40px;
}

.squares p {
    color: white;
    padding-top: 12px;
    font-size: 120px;
    font-weight: 600;
    justify-self: center;
    position: absolute;
    cursor: default;
}

#container {
    width: 500px;
    height: 500px;

    margin-top: 30px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);;
    gap: 10px;
}

.squares {
    background-color: skyblue;
    border: 2px solid none;
    border-radius: 10px;

    opacity: 0.5;
}

.squares.active {
    background-color: skyblue;
    border: 2px solid none;
    border-radius: 10px;

    opacity: 1;
}

.squares.active:hover {
    opacity: 0.75;
    scale: 1.03;
}

#status, button {
    margin-top: 30px;
}

#status {
    color: blue;
}

button {
    background-color: blue;
    border: 3px outset skyblue;
    border-radius: 10px;

    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;

    padding: 9px 35px;
}

button:hover {
    background-color: skyblue;
    border-color: blue;
    color: blue;
}

form, form > div, form > div > div {
    display: flex;
}

form, form > div > div {
    flex-direction: column;
}

form {
    align-items: center;
    margin-top: 20px;
}

form > div {
    gap: 50px;
}

label {
    color: blue;
    letter-spacing: 0.2px;
    font-weight: 600;
}

input {
    border: 2px ridge blue;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    padding: 5px 8px;
}

form > div > div {
    gap: 5px;
}

#submitNamesButton {
    font-size: 16px;
    
    margin-top: 20px;
    padding: 6px 0;
    width: 120px;
}

#resetButton {
    display: none;
}